.animate__animated.animate__delay {
    --animate-delay: 0.1s;
}

.animate__animated.animate__delay0 {

}
.animate__animated.animate__delay1 {
    --animate-delay: 0.5s;
}
.animate__animated.animate__delay2 {
    --animate-delay: 1s;
}
.animate__animated.animate__delay3 {
    --animate-delay: 1.5s;
}
.animate__animated.animate__delay4 {
    --animate-delay: 2s;
}
.animate__animated.animate__delay5 {
    --animate-delay: 2.5s;
}
.animate__animated.animate__delay6 {
    --animate-delay: 3s;
}
.animate__animated.animate__delay7 {
    --animate-delay: 3.5s;
}
.animate__animated.animate__delay8 {
    --animate-delay: 4s;
}
.animate__animated.animate__delay9 {
    --animate-delay: 4.5s;
}

.bg-c-blue {
    background:  linear-gradient(45deg,#3490dc, #52BEED);
}
.departureTime{
    background-image:  url("../images/calendar.svg");
    background-repeat: no-repeat;
    background-size: 2rem 2rem;
    background-position: bottom left;
}

.points{
    background-image:  url("../images/pin.svg");
    background-repeat: no-repeat;
    background-size: 4rem 4rem;
    background-position: bottom right;
}

.clocks{
    background-image:  url("../images/clock.svg");
    background-repeat: no-repeat;
    background-size: 4rem 4rem;
    background-position: bottom right;
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}
.form-control{
    max-width: 550px;
}
.seat{
    background-image: url('../images/seat.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3rem 3rem;
    height: 6rem;
    position: relative;
}
.ck-button {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}

.ck-button:hover {
    background:red;
}

.ck-button label {
    float:left;
    width:4.0em;
}

.ck-button label span {
    text-align:center;
    padding:3px 0px;
    display:block;
}

.ck-button label input {
    position:absolute;
    top:-20px;
}

.ck-button input[type=checkbox] {
    display:none;
}

.ck-button input:checked + span {
    background-color:#911;
    color:#fff;
}

.full-height {
    height: 100vh; overflow: auto;
}
